h1,h2,h3,h4,h5, label{
  color:#fff;
}

.wrap{  
  min-height: 100%;
  height: auto;
  background:url(../../../assets/images/background/lines_electric.svg) no-repeat;   
  background-size: cover;  
  background-color: #19133B;
 }

 .btn-custom-primary{
   width: 150px;
 }