@import '../../../style/bootstrap/_variables.scss';

.block-light {
  background-color: #F6F6F6; 
  padding: 1rem;
}
.block {
  padding-top: 1rem;
}

.card-home {
  padding: 1.2rem;
  height: 100%; 
  &:hover{
    opacity: 0.9;
    cursor:pointer;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    font-weight: inherit;
  }
}
